{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Acknowledgements{% endblock %}
{% block content %}


<div class="center-content">
  <img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:350px; height:auto;" alt="The badge of the Royal Military Police">
  <h2> Acknowledgements</h2>
</div>

{% include 'navbar.html' %}

<div class="center-content">
<table>
    <thead>
      <tr>
        
        <th class="name-column"><h4>Name</h4></th>
        <th class="tasks-column"><h4>Task</h4></th>
      </tr>
    </thead>
    <tbody>
      {% for person in acknowledgements|dictsort:"surname" %}
        <tr>
          <td>{{ person.name }} {{ person.surname }} </td>
          <td>
                {{ person.notes | linebreaksbr }}
              </a>
            </h2>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
<div>
</div>