{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Soldiers Form{% endblock %}
{% block content %}

<div>
    <h1 class="mgmt-title">Update/Edit Soldier Record </h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.errors }}
        {{form | crispy}}
        <h2 class="mgmt-title">Soldier Death Details </h2>
        {{ death_form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    </div>

{% endblock %}