{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Cemeteries Form{% endblock %}
{% block content %}

<div class="center-content">
    <h3>Edit Cemetery</h3>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            {{ form.errors }}
            {{form | crispy}}
            <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
    </div>
    <div>
      <form method="POST" action="{% url 'delete-cemetery' cemetery.id %}">
        {% csrf_token %}
        <button type="submit">DELETE</button>
      </form>
    </div>
    {% endblock %}
</div>