{% extends "base.html" %}
{% load static %}
{% block title %}Corps of Military Police{% endblock %}
{% block content %}

<div>
<h1> Corps of Military Police</h1>
<img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:600px; height:auto;" alt="The colours of the Royal Military Police">
<p></p>
<h2> Casualties, Honours & Decorations, Prisoners of War</h2>
<p>
</p> 
<p>
</p>
</div>
<div>
    <form hx-post="{% url 'soldier_search' %}" hx-trigger="submit" hx-target="#results">
        <label for="name">Search for a soldier:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Search">
    </form>
    <div id="results">
        <!-- Search results will be loaded here -->
    </div>
<div class="response-text" id="soldier-response"></div>

{% endblock %}