{% extends "base.html" %}
{% load static %}
{% block title %} Corps of Military Police {% endblock %}
{% block content %}


<div>
<img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:350px; height:auto;" alt="The badge of the Royal Military Police">
<h2> Corps of Military Police</h2>
<p></p>
<h3>Casualties, Honours & Decorations, Prisoners of War</h3>
</div>
</div>
<div name="search-input" class="search-input">
    <form hx-post="{% url 'index' %}" hx-trigger="submit" hx-target="#results">
        {% csrf_token %}
        <label for="name">Search for a soldier:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Search">
    </form>
</div>
<div id="results" class="search-results">
     {% include 'cmp/soldier-results.html' %}
</div>

{% endblock %}