{% extends 'base.html' %}
{% load static %}

{% block title %}Inter-War Period{% endblock %}

{% block content %}
<style>
    .aligned-list {
        list-style-position: outside;
        padding-left: 20px;
        margin-left: 0;
        text-align: left;
    }

    .aligned-list li {
        padding: 0;
        margin-bottom: 0;
        line-height: 1.3;
    }

    .diary-links {
        width: 80%;
        max-width: 800px;
        margin: 0 auto 0 auto;
        padding-left: 250px;
    }
    
    /* New styles for links */
    .diary-links a {
        color: black;
        text-decoration: none;
    }
    
    /* Optional: Add hover effect to show it's still a link */
    .diary-links a:hover {
        color: #555;
    }
</style>

<div class="center-content">
    <img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:350px; height:auto;" alt="The badge of the Royal Military Police">
    <h2>Corps of Military Police</h2>
{% include 'navbar.html' %}
</div>

<div class="center-content">
    <h4>Inter-War Period</h4>
    <div class="diary-links">
        <ul class="aligned-list">
            <li><a href="" target="_blank">Provost Marshals of the BEF</a></li>
            <li><a href="" target="_blank">Military Police Standing Orders 1936</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vTlDSjMGIKDeJbyIm14wB-A5dYlC53uraei8NzFo07-lPsFQOjDk-BA2h-Li7tzeczkCqJxDWbzgmGg/pub" target="_blank">Lieutenant Colonel W.V. Moul</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRy9XKxWdpWPsDllzyaCVkFj1zGy5la6lmqOAXfBgmlFZSLIGWP039ADp_Fmx3tgKOjBmIuAhCpSCG2/pub" target="_blank">Sergeant R. Hall MFP</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vTHlXfqA2EOVA2mz3r35_swZpUAzsQSbImyWwVWHD8J5FmQRu8s9tsqF6GiV0PnTHteNF1MHcBUxFcs/pub" target="_blank">It Pays To Advertise</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRV3i1LTGoMKXRj5N25dn3VYMWothBsrCOEX09aCA2SXzxLce8OpErF07IKg52opTdAI1cmp0B0ZP0s/pub" target="_blank">The Liberator of Lille</a></li>
            <li><a href="" target="_blank">WW1 Miscellaneous</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRQcNVlm-sRKPKUSs6v3BV6g-OOizszw1qAm3Xkqw1vQwNUsqU34bcLuzFX2FkC7-Kc9ZieP1GnsAid/pub" target="_blank">Exposing a Myth</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRg0hS0pgHruPX4gYq_iXEBc703-c4LzF9C6Di_q-kymWhqGBSrlr2SYB6kwikTyiDFsQFWfU0rh5fO/pub" target="_blank">The First Briitsh Army of The Rhine, Germany 1918 -1929</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vS8OkcqJXI9NH_yUJQkT6iZ1DLDuHjdptduAPedoHtJ1vfj1kpRKFUr8GoTMMZhPz88TlAKPkP-30w3/pub" target="_blank">A New Military Police Corps</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vR9Ti_AQq0Y8pP057n7a-FLDzt3t8MaycV7GTG9ByERKqh0rs7_lnNl8JUx800zdZFBATi3L9Q3bsb5/pub" target="_blank">Court of Inquiry Gunner Bolton</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vQX9mNqKIHUqrpuysBx1IEZ_jGzHA-D1qnXMwpO4u9V2CaIJqdfHSy1msfpsaGVdMNF_Au1D8onyGM3/pub" target="_blank">MFP Special Course of Instruction for NCO's</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vSNK6a__Y3Ol4M-Gn3zaYGJ6qLBrUybUwWVGpsKF4W9ndMZlaOdUknBCAddC_9eHPWWvU7w5timFgHJ/pub" target="_blank">Murder & Suicide, Dieppe June 1919</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRQe3PnUboQ5ACRKvCmFbxUGqeyKFSUFV8-fDPWk9LY_NQ_-tZIcs7JtVK6PVcRBVaBHzvIdpqcrvhg/pub" target="_blank">Murder Trial of Sergeant Arthur Pank MFP, Old Bailey London May 1919</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vR1cnsyJkySuKZISSfHuuYR9mHb1tvdUL_fueq5ixM8qW_NBNGJAYviTH3Z6rqWOBEquXGgICKgVN5q/pub" target="_blank">Military Policeman Shot by Sailor, Glasgow 1919</a></li>
        </ul>
    </div>
</div>
    
{% endblock %} 