{% extends 'base.html' %}
{% load static %}

{% block title %}Inter-War Period{% endblock %}

{% block content %}
<style>
    .aligned-list {
        list-style-position: outside;
        padding-left: 20px;
        margin-left: 0;
        text-align: left;
    }

    .aligned-list li {
        padding: 0;
        margin-bottom: 0;
        line-height: 1.3;
    }

    .diary-links {
        width: 80%;
        max-width: 800px;
        margin: 0 auto 0 auto;
        padding-left: 250px;
    }
    
    /* New styles for links */
    .diary-links a {
        color: black;
        text-decoration: none;
    }
    
    /* Optional: Add hover effect to show it's still a link */
    .diary-links a:hover {
        color: #555;
    }
</style>

<div class="center-content">
    <img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:350px; height:auto;" alt="The badge of the Royal Military Police">
    <h2>Corps of Military Police</h2>
{% include 'navbar.html' %}
</div>

<div class="center-content">
    <h4>Inter-War Period</h4>
    <div class="diary-links">
        <ul class="aligned-list">
            <li><a href="" target="_blank">Boer War Letter</a></li>
            <li><a href="" target="_blank">MMP MFP Egyptian Campaign 1882-1889</a></li>
            <li><a href="" target="_blank">Military Police Standing Orders WW1</a></li>
            <li><a href="" target="_blank">Provost Marshals of the BEF</a></li>
            <li><a href="" target="_blank">Military Police Standing Orders 1936</a></li>
            <li><a href="" target="_blank">Lieutenant Colonel W.V. Moul</a></li>
            <li><a href="" target="_blank">Sergeant R. Hall MFP</a></li>
            <li><a href="" target="_blank">It Pays To Advertise</a></li>
            <li><a href="" target="_blank">The Liberator of Lille</a></li>
            <li><a href="" target="_blank">WW1 Miscellaneous</a></li>
            <li><a href="" target="_blank">Exposing a Myth</a></li>
            <li><a href="" target="_blank">British Army on the Rhine</a></li>
            <li><a href="" target="_blank">A New Military Police Corps</a></li>
            <li><a href="" target="_blank">Court of Inquiry Gunner Bolton</a></li>
            <li><a href="" target="_blank">MFP Training Course</a></li>
            <li><a href="" target="_blank">Traffic Control</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vS98vgH4grTBA--ECuX7_-NX2NydyzE-CejwlnG24W9rYQq8iC_v0Dhq_zfOrGZ-32B8ysBvSVgO0iz/pubt" target="_blank">CMP Prisoners of War 1914-1918</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vSNK6a__Y3Ol4M-Gn3zaYGJ6qLBrUybUwWVGpsKF4W9ndMZlaOdUknBCAddC_9eHPWWvU7w5timFgHJ/pub" target="_blank">Murder & Suicide, Dieppe June 1919</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRQe3PnUboQ5ACRKvCmFbxUGqeyKFSUFV8-fDPWk9LY_NQ_-tZIcs7JtVK6PVcRBVaBHzvIdpqcrvhg/pub" target="_blank">Murder Trial of Sergeant Arthur Pank MFP, Old Bailey London May 1919</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vR1cnsyJkySuKZISSfHuuYR9mHb1tvdUL_fueq5ixM8qW_NBNGJAYviTH3Z6rqWOBEquXGgICKgVN5q/pub" target="_blank">Military Policeman Shot by Sailor, Glasgow 1919</a></li>
        </ul>
    </div>
</div>
    
{% endblock %} 