{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Admin Page{% endblock %}
{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<div class="center-content">
<h3>Management Index</h3>
    <ul>
        <li><a href="/mgmt/soldiers/search/">Soldiers</a></li>
        <li><a href="/mgmt/cemeteries/search/">Cemeteries</a></li>
        <li><a href="/mgmt/countries/search/">Countries</a></li>
        <li><a href="/mgmt/companies/search/">Companies</a></li>
        <li><a href="/mgmt/decorations/search/">Decorations</a></li>
        <li><a href="/mgmt/ranks/search/">Ranks</a></li>
        <li><a href="/mgmt/pow-camps/search/">Prisoner of War Camps</a></li>
        <li><a href="/mgmt/acknowledgement/search/">Acknowledgements</a></li>
        <li><a href="/mgmt/provost-officers/search/">Provost Officers</a></li>
    </ul>
{% endblock %}
</div>