{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Admin Page{% endblock %}
{% block content %}

<body>
    <h1>Management Index</h1>
    <ul>
        <h3>Working Search Pages</h3>
        <li><a href="/mgmt/soldiers/search/">Soldiers</a></li>
        <li><a href="/mgmt/countries/search/">Countries</a></li>
        <li><a href="/mgmt/companies/search/">Companies</a></li>
        <li><a href="/mgmt/decorations/search/">Decorations</a></li>
        <li><a href="/mgmt/ranks/search/">Ranks</a></li>
        <li><a href="/mgmt/cemeteries/search/">Cemeteries</a></li>
        <li><a href="/mgmt/prisoner-of-war-camps/search/">Prisoner of War Camps</a></li>
    </ul>

{% endblock %}