{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Soldiers{% endblock %}
{% block content %}

<div class="center-content">
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}

<h3>Search/Edit/Add/Delete Soldiers</h3>
{% include 'mgmt-navbar.html' %}

<div class="center-content">
    <a href="{% url 'create-soldier' %}" class="glossy-button add-button">Add New Soldier</a>
</div>

<div name="search-input" class="search-input">
<form method="get">
  <input type="text" name="q" value="{{ request.GET.q }}"  placeholder="Surname/army number">
  <input type="submit" value="Search">
</form>
</div>

<div>
<table class="content-table">
  <thead class="">
    <tr>
      <th></th>
      <th>Surname</th>
      <th>Initials</th>
      <th>Army No.</th>
      <th>Rank</th>
      <th>Casualty</th>
      <th></th>
    </tr>
  </thead>

  {% for soldier in page_obj %}
    <tr>
      <td><button class="glossy-button edit-button" onclick="location.href='{% url 'edit-soldier' id=soldier.id %}'" type="button">EDIT</button></td>
      <td><span class="soldier-info">{{ soldier.surname }}</span></td>
      <td><span class="soldier-info">{{ soldier.initials }}</span></td>
      <td><span class="soldier-info">{{ soldier.army_number }}</span></td>
      <td><span class="soldier-info">{{ soldier.rank }}</span></td>
      <td><span class="soldier-info">{{ soldier.soldierdeath.date }}</span></td>
      <td><button class="glossy-button delete-button" onclick="if(confirm('Are you sure you want to delete this soldier?')) { location.href='{% url 'delete-soldier' soldier.id %}'; }" type="button">DELETE</button></td>
    </tr>
   {% endfor %}
</table>
</div>

{% include 'cmp/pagination-footer.html' %}

{% endblock %}
</div>