{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Cemeteries{% endblock %}
{% block content %}

   <div class="center-content">
   <h3> Search Cemeteries</h3>

   <div name="search-input" class="search-input">
   <form method="get">
     <input type="text" name="q" placeholder="Search Cemeteries ">
     <input type="submit" value="Search">
   </form>
   </div>


   <div>
    <table class="content-table">
      <thead class="">
        <tr>
          <th></th>
          <th>NAME</th>
          <th>COUNTRY</th>
        </tr>
      </thead>

   {% for cemetery in cemeteries %}
   <tr>
    <td><button class="glossy-button" onclick="location.href='{% url 'edit-cemeteries' cemetery.id %}'" type="button">EDIT</button></td>
    <td><span class="soldier-info">{{ cemetery.name }}</span></td>
    <td><span class="soldier-info">{{ cemetery.country.name }} {{cemetery.country.flag}} </span></td>
  </tr>
   {% endfor %}
   </div>

{% endblock %}
</div>