{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Companies{% endblock %}
{% block content %}

<div class="center-content">
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h3>Search/Edit/Add/Delete Companies</h3>

<div class="center-content">
    <button class="glossy-button add-button" onclick="location.href='{% url 'edit-companies' %}'" type="button">Add New Company</button>
</div>

<div name="search-input" class="search-input">
<form method="get">
  <input type="text" name="q" value="{{ request.GET.q }}"  placeholder="Company">
  <input type="submit" value="Search">
</form>
</div>

<div>
  <table class="content-table">
    <thead class="">
      <tr>
        <th></th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

   {% for company in page_obj %}
   <tr>
    <td><button class="glossy-button edit-button" onclick="location.href='{% url 'edit-companies' company.id %}'" type="button">EDIT</button></td>
    <td><span class="soldier-info">{{ company.name|title }}</span></td>
    <td><button class="glossy-button delete-button" onclick="if(confirm('Are you sure you want to delete this company?')) { location.href='{% url 'delete-company' company.id %}'; }" type="button">DELETE</button></td>
   </tr>
   {% endfor %}
   </table>
   </div>

{% include 'cmp/pagination-footer.html' %}

{% endblock %}
</div>