{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Decorations{% endblock %}
{% block content %}

<div class="center-content">
<h3>Search Decorations</h3>

<div name="search-input" class="search-input">
<form method="get">
  <input type="text" name="q" value="{{ request.GET.q }}"  placeholder="Decoration">
  <input type="submit" value="Search">
</form>
</div>

<div>
  <table class="content-table">
    <thead class="">
      <tr>
        <th></th>
        <th>NAME</th>
        <th>COUNTRY</th>
      </tr>
    </thead>

{% for decoration in page_obj %}
<tr>
  <td><button class="glossy-button edit-button" onclick="location.href='{% url 'edit-decorations' decoration.id %}'" type="button">EDIT</button></td>
  <td><span class="soldier-info">{{ decoration.name}}</span></td>
  <td><span class="soldier-info">{{ decoration.country.flag }} {{ decoration.country.name|title }} </span></td>
</tr>
{% endfor %}
</table>
</div>

{% include 'cmp/pagination-footer.html' %}

{% endblock %}
</div>