{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Soldiers{% endblock %}
{% block content %}

<h1>Search Soldiers</h1>

<div name="search-input" class="search-input">
<form method="get">
  <input type="text" name="q" placeholder="Search soldiers to edit">
  <input type="submit" value="Search">
</form>
</div>

<div>
{% for soldier in soldiers %}
<p class="soldier-details">
  <button class="edit-button" onclick="location.href='{% url 'edit-soldiers' soldier.id %}'" type="button">Edit</button> 
  <span class="soldier-info">{{ soldier.surname }}</span>
  <span class="soldier-info">{{ soldier.initials }}</span>
  <span class="soldier-info">{{ soldier.rank }}</span>
</p>
{% endfor %}
</div>



{% endblock %}