{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Soldier{% endblock %}
{% block content %}



<div style="padding-bottom: 12px;">
   <img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:300px; height:auto;" alt="Badges of Royal Military Police, Corps of Military Police">
</div>

<center><h3>Corps of Military Police</h3></center>

<h4>Soldier Record</h4>

<table class="table table-hover table-bordered table-lg">
  <thead class="thead-dark">
  </thead>
  <tbody>
      <tr><td>Surname:</td><td>{{ soldier.surname }}</td></tr>
      <tr><td>Initials:</td><td>{{ soldier.initials }}</td></tr>
      <tr><td>Rank:</td><td>{{ soldier.rank }}</td></tr>
      <tr><td>Army Number:</td><td>{{ soldier.army_number }}</td></tr>
      <tr><td>Notes:</td><td>{{ soldier.notes | linebreaks }}</td></tr>

      {% if soldier.soldierdecoration_set.all %}
          <tr><td colspan="2"><h5>Decoration Record:</h5></td></tr>
          {% for decoration in soldier.soldierdecoration_set.all %}
             <tr><td>Decoration: </td><td>{{ decoration }} <a href="{{ decoration.generate_gazette_url }}">(London Gazette: {{ decoration.gazette_issue }} Page: {{ decoration.gazette_page}} {{ decoration.gazette_date }}</a>) </td></r>
             <tr><td>Citation: </td><td>{{ decoration.citation }}</td></r>
          {% endfor %}
      {% endif %}

      {% if soldier.soldierimprisonment_set.exists %}
       <tr><td colspan="2"><h4>Prisoner of War Record:</h4></td></tr>
       {% for imprisonment in soldier.soldierimprisonment_set.all %}
          <tr><td>Imprisonment: </td><td>{{ imprisonment }} {{imprisonment.pow_camp.country}} {{imprisonment.pow_camp.country.flag}}</td></tr>
       {% endfor %}
      {% endif %}


      {% if soldier.soldierdeath %}
         <tr><td colspan="2"><h4>Casualty Record:</h4></td></tr>
         <tr><td>Date of Death:</td><td>{{ soldier.soldierdeath.date }}</td></tr>
         <tr><td>Company:</td><td>{{ soldier.soldierdeath.company }}</td></tr>
         <tr><td>CWGC Link:</td><td><span style="font-size: 1.5em;"><a href="{{ soldier.soldierdeath.cwgc_url }}">{{ soldier.soldierdeath.cwgc_id }}</span></a></td></tr>
         <tr><td>Cemetery:</td><td>{{ soldier.soldierdeath.cemetery }}, {{ soldier.soldierdeath.cemetery.country }} <span style="font-size: 1.3em;">{{ soldier.soldierdeath.cemetery.country.flag }}</span>
         <tr><td colspan="2" style="text-align: center;"><img src="/static/media/{{ soldier.id }}/memorial/{{ soldier.id }}.jpg"</td></tr>
         <tr><td colspan="2" style="text-align: center;">
            <div style="width: 60%; height: auto; margin: auto;">
             {{ cemetery_map | safe }} </td></tr>
            </div>
          </td>
         </tr>

      {% endif %}

  </tbody>
</table>

{% endblock %}