{% extends 'base.html' %}
{% load static %}

{% block title %}World War I Diaries{% endblock %}

{% block content %}
<style>
    .aligned-list {
        list-style-position: outside;
        padding-left: 20px;
        margin-left: 0;
        text-align: left;
    }

    .aligned-list li {
        padding: 0;
        margin-bottom: 0;
        line-height: 1.3;
        font-size: 0.95rem;
    }

    .diary-links {
        width: 80%;
        max-width: 800px;
        margin: 0 auto 0 auto;
        padding-left: 250px;
    }
    
    /* New styles for links */
    .diary-links a {
        color: black;
        text-decoration: none;
    }
    
    /* Optional: Add hover effect to show it's still a link */
    .diary-links a:hover {
        color: #555;
    }
</style>

<div class="center-content">
    <img src="{% static 'cmp/cmp-masthead.svg' %}" style="width:350px; height:auto;" alt="The badge of the Royal Military Police">
    <h2>Corps of Military Police</h2>
{% include 'navbar.html' %}
</div>


<div class="center-content">
    <h4>Pre 1914</h4>
    <div class="diary-links">
        <ul class="aligned-list">
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vQjhayHpski_L1Mc39-KKQulIju02C5NelIM0VaRS5SETBk2Xypud2gvxMw85MJ3izl-9ynq-7QYKua/pub" target="_blank">Depots, Schools, Training Establishments of the Military Police 1897 - 1939</a></li>
            <li><a href="" target="_blank">Boer War Letter</a></li>
            <li><a href="" target="_blank">MMP MFP Egyptian Campaign 1882-1889</a></li>
    </div>

    <h4>World War I</h4>
    
    <h5>War Diaries</h5>
    <div class="diary-links">
        <ul class="aligned-list">
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRqKrUBHYmk94Kjg9xywTpOUYcQ9SI9iig1ta_pu_FzY0yubjBsig5ZRHLrolXQ3yfj7STVWmV8Vhws/pub" target="_blank">World War 1 War Diaries</a></li>
        </ul>
    </div>
    
    <h5>Miscellaneous Information</h5>
    <div class="diary-links">
        <ul class="aligned-list">
            <li><a href="" target="_blank">Military Police Standing Orders in World War 1</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vTXPngMl0gHuOkT14X69ZbEu1xN8G_3-LOwBJjV1OsXYunZFGNLvfqdi17m3nh-mvXx3LzFsJpiV0zb/pub" target="_blank">The Military Police in Catterick</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vTpXXj8LaVL78Ma7FFCsvipgUOlmVRs77qEWMHSf5Hsdl_qotYifWRUq-3oWjPGQmQuub9Lu9gHCcLv/pub" target="_blank">Misc World War I</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vSNK6a__Y3Ol4M-Gn3zaYGJ6qLBrUybUwWVGpsKF4W9ndMZlaOdUknBCAddC_9eHPWWvU7w5timFgHJ/pub" target="_blank">WWI British Expeditionary Force Murder & Suicides</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vSACo9oTDvizXWxM4bRIhIWPp2G1zYwLTbmtAVol3B7TixgSWR351poIYvwOde_Umv1S1HkedUyjxE_/pub" target="_blank">Inquiry into Accidental Shooting of Pte John McDonald, Boulogne December 1917</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vS98vgH4grTBA--ECuX7_-NX2NydyzE-CejwlnG24W9rYQq8iC_v0Dhq_zfOrGZ-32B8ysBvSVgO0iz/pub" target="_blank">A list of members of the military police taken prisoner in World War I</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRhW2PLdi-OsnnyU2Ajk5Rqew3Axh3-jhyy8-jRrfdyF_2USQTpCibt6rK8goo_fFiqeI6qE3fVIGaV/pub" target="_blank">Traffic Control Squadrons (MMP) & Companies (MFP) of World War 1</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vRryXOZ2oAb7jWxPWXl8BVy76nNGSXF4cChOhdFWrSckctRyqzOwo_DOKXfxdj_1GFGOMqD4rSp2wFU/pub" target="_blank">Military Police Speed Checks 1917</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vSULzH-ZdWhH0Up16DaQWkBWRUxSGEZyOUORAM8VsH-wJybPrAjrDupsZTpIZN6qn5xqGVHGkHOwFQH/pub" target="_blank">APM Western Command, 1917</a></li>
            <li><a href="https://docs.google.com/document/d/e/2PACX-1vS98vgH4grTBA--ECuX7_-NX2NydyzE-CejwlnG24W9rYQq8iC_v0Dhq_zfOrGZ-32B8ysBvSVgO0iz/pubt" target="_blank">CMP Prisoners of War 1914-1918</a></li>

        </ul>
    </div>
</div>
{% endblock %} 