Django==5.1
django-environ
django-debug-toolbar
django-extensions
django-htmx
django-storages
pytest-django
sentry-sdk==2.8.0
pytest-cov # used to generate coverage report
flake8 # used to check code style
black # used to format code
whitenoise
django-crispy-forms
crispy-bootstrap5
ipdb
folium
Pillow
