[Install]
WantedBy=multi-user.target

[Unit]
Description=Gunicorn service
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/cmp
ExecStart=/home/azureuser/cmp/.venv/bin/gunicorn

