<div id="navBlock" role="navigation">
    <nav class="main-nav">
        <ul>
            <li class="page-collection">
                <a href="#" class="nav-link">Army Number Tool</a>
            </li>
            <li class="folder-collection folder">
                <a aria-haspopup="true" href="#" onclick="return false;" class="nav-link">War Diaries</a>
                <div class="subnav">
                    <ul>
                        <li class="page-collection">
                            <a href="#" class="nav-link">World War I</a>
                        </li>
                        <li class="page-collection">
                            <a href="#" class="nav-link">World War II</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="page-collection">
                <a href="#" class="nav-link">About</a>
            </li>
        </ul>
    </nav>
    
</div> 